footer{
     background-color: rgb(40, 42, 120);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     color: white;
     padding: 15px;
     position: fixed;
     bottom: 0;
     width: 100%;
     z-index: 1; 
}