

.contactList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contactList h1 {
  margin-bottom: 20px;
  color: #393c9a;
  text-align: center;
}

table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

thead {
  background-color: #393c9a;
  color: #fff;
}

thead th {
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}


input{
  width: 90%;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.saveButton, .editButton {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin: 0 2px;
  background-color: #393c9a;
}

.saveButton:hover, .editButton:hover {
  opacity: 0.9;
}

.deleteButton {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin: 0 2px;
  background-color: red;
}

.deleteButton:hover {
  opacity: 0.7;
}

