.contactSection{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contactForm{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: white;

    h1{
        color: white;
        margin-bottom: 20px;
        background-color: black;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 15px;
        padding: 10px;
        background-color: black;

        input{
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
        }
        button{
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #007BFF;
            color: white;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}