.contactSection {
    display: flex;
    justify-content: center;  
    align-items: center;          
    padding: 20px;          
    box-sizing: border-box; 
   
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    width: 100%;
    max-width: 400px; 
    box-sizing: border-box;
}

.contactForm h1 {
    margin-bottom: 20px;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.contactForm input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contactForm button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contactForm button:hover {
    background-color: #0056b3;
}
